@CHARSET "UTF-8";
/*
用于修改所有的form的样式
格式类似于
<body>
	<form>
		<div class="form">
			<h1>
			<div>...</div>
			<div>...</div>
			<div class="form-actions">
				<input id="submit_btn" class="btn btn-warning" type="submit" value="提交"/>&nbsp;	
				<input id="cancel_btn" class="btn" type="button" value="返回" onclick="history.back()"/>
			</div>
		<div>
	</form
<body>
*/
		body {
			background: none repeat scroll 0 0 #F2F2F2 !important;
		}
		.form {
			margin-top: 10px;
			background: none repeat scroll 0 0 #F9F9F9 !important;
			-moz-border-bottom-colors: none;
		    -moz-border-left-colors: none;
		    -moz-border-right-colors: none;
		    -moz-border-top-colors: none;
		    border-color: #DADADA #DADADA -moz-use-text-color;
		    border-image: none;
		    border-style: solid solid none;
		    border-width: 1px 1px medium;
		}
		.form h1 {
			color: #FAA732 !important;
			border-bottom: 1px dashed #E3E3E3 !important;
			margin-left:20px;
			margin-right:20px;
		}
		.form-actions {
			border-top: 0px !important;
			background: url('../bootstrap/2.3.2/img/bom_cor.png') no-repeat scroll left bottom rgba(0, 0, 0, 0) !important;
		}
		
		.form .onefield {
			background-color:#fffbea;
			margin-right:20px;
			border: 1px solid #CCCCCC;
			border-radius: 4px 4px 4px 4px;
		}
		.form .form-actions .btn {
			height: 40px !important;
			width: 130px !important;
		}
		
		.formlabel {
			font-weight:bold !important;
			padding-top:5px;
		}
		
		.iconImg {
 		  background-image: url("../images/background/backicon.jpg");
  		  background-repeat: no-repeat;
  		  display: inline-block;
  		  height: 30px;
 		  line-height: 14px;
 		  width: 30px;
 		  border-radius: 15px 15px 15px 15px;
		}
		.iconImg_create {
			background-position: -10px -29px;
		}
		.iconImg_delete {
			background-position: -85px -29px;
		}
		/**fix bootstrap tab页切换时背景色为白色的bug*/
		.nav-tabs > .active > a, .nav-tabs > .active > a:hover, .nav-tabs > .active > a:focus {
		    background-color: #F9F9F9;
		}
		
		
		