.h_xj1 {
    background: url("../img/h_xj1.jpg") repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 18px;
    width: 20px;
}
.h_xj2 {
    background: url("../img/h_xj2.jpg") repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 18px;
    width: 38px;
}
.h_xj3 {
    background: url("../img/h_xj3.jpg") repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 18px;
    width: 54px;
}
.h_xj4 {
    background: url("../img/h_xj4.jpg") repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 18px;
    width: 68px;
}
.h_xj5 {
    background: url("../img/h_xj5.jpg") repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 18px;
    width: 88px;
}