<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eastteam.myprogram.dao.QuestionMybatisDao">
	<!-- 插入问题-->
	<insert id="save" parameterType="Question" useGeneratedKeys="true" keyProperty="id" >
		insert into questions (question, question_type, trashed, question_options, business_type)
		values (#{question},#{questionType},'F',#{questionOptions},#{business_type});
	</insert>
	
	<!-- 更新问题 -->
	<update id="update" parameterType="Question">
		update questions set question=#{question}, question_type=#{questionType}, question_options=#{questionOptions}, business_type=#{business_type}
		where question_id=#{id}
	</update>
	
	<!-- 删除问题 -->
	<delete id="delete" parameterType="Long">
		delete from questions where question_id=#{id}
	</delete>
	
	<resultMap type="Question" id="questionDetailMap">
		<id property="id" column="question_id" />
		<result property="question" column="question" />
		<result property="questionType" column="question_type" />
		<result property="questionOptions" column="question_options" />
		<result property="business_type" column="business_type" />
		<result property="trashed" column="trashed" />
	</resultMap>
	
	<!-- 获取问题 -->
	<select id="search" parameterType="map" resultMap="questionDetailMap">
		select q.question_id, q.question, q.question_type, q.question_options, q.business_type, q.trashed from questions q
		<where>
			q.trashed = 'F'
			<if test="keyword != null">
				and q.question like '%${keyword}%'
			</if>
			<if test="categoryIdList != null">
		        and q.business_type in 
		        <foreach item="item" index="index" collection="categoryIdList" open="(" separator="," close=")">
			        #{item}
				</foreach>
			</if>
		</where>
		<if test="sort != null">
			order by ${sort}
		</if>
		<if test="offset != null">
			limit #{offset}, #{pageSize}
		</if>
	</select>
	
	<!-- 问题数量 -->
	<select id="getCount" parameterType="map" resultType="Long">
		select count(0) from questions
		<where>
			trashed = 'F'
			<if test="keyword != null">
				and question like '%${keyword}%'
			</if>
			<if test="categoryIdList != null">
		        and business_type in 
		        <foreach item="item" index="index" collection="categoryIdList" open="(" separator="," close=")">
			        #{item}
				</foreach>
			</if>
		</where>
	</select>
	
	<select id="getQuestion" resultMap="questionDetailMap">
		select q.question_id, q.question, q.question_type, q.question_options, q.business_type, q.trashed from questions q
		where q.question_id=#{questionId}
	</select>
</mapper>