<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eastteam.myprogram.dao.QuestionMybatisDao">
	<!-- 插入问题-->
	<insert id="save" parameterType="Question" useGeneratedKeys="true" keyProperty="id" >
		insert into questions (question, question_type, question_options)
		values (#{question},#{questionType},#{questionOptions});
	</insert>
	
	<!-- 更新问题 -->
	<update id="update" parameterType="Question">
		update questions set question=#{question}, question_type=#{questionType}, question_options=#{questionOptions}
		where question_id=#{id}
	</update>
	
	<!-- 删除问题 -->
	<delete id="delete" parameterType="Question">
		delete from questions where question_id=#{id}
	</delete>
	
	<!-- 获取问题 -->
	<select id="search" parameterType="map" resultType="Question">
		select question_id as id, question, question_type as questionType, question_options as questionOptions from questions 
	</select>
	
	<!-- 问题数量 -->
	<select id="getCount" parameterType="map" resultType="Long">
		select count(0) from questions
	</select>
</mapper>