<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eastteam.myprogram.dao.VisitMybatisDao">
	<select id="search" parameterType="map" resultMap="visitDetailMap">
		select v.visit_id as visit_id, v.customer_id as customer_id, v.visit_stime visit_stime, v.visitor_num as visitor_num, v.assigned_department_id as assigned_department_id, v.recipient, v.operator, v.case_id as case_id, v.is_visited as is_visited, v.comment as comment, v.paper_id paper_id, c.case_title as case_title, cg.name as visit_type, cg.id as visit_type_id, cb.id as business_type_id, cb.name as business_type
		from visit_activities v
		left join cases c on v.case_id= c.case_id
		left join category cg on v.visit_type=cg.id
		left join category cb on v.business_type=cb.id
		<where>
			<if test="businessType != null">
		        and cb.id = #{businessType}
			</if>
			<if test="keyword != null">
				and (c.title like '%${keyword}%')
			</if>
		</where>
		<if test="sort != null">
			order by ${sort}
		</if>
		<if test="offset != null">
			limit #{offset}, #{pageSize}
		</if>
	</select>
	
	<resultMap id="visitDetailMap" type="VisitActivity">
		<id property="id" column="visit_id"/>
		<result property="visitTime" column="visit_stime"/>
		<result property="isVisited" column="is_visited"/>
		<result property="visitNum" column="visitor_num"/>
		<association property="visitType" javaType="Category">
			<id property="id" column="visit_type_id" />
			<result property="name" column="visit_type" />
		</association>
		<association property="businessType" javaType="Category">
			<id property="id" column="business_type_id" />
			<result property="name" column="business_type" />
		</association>
		<association property="thisCase" javaType="Case">
			<id property="id" column="case_id" />
			<result property="title" column="case_title" />
		</association>
	</resultMap>
	
	<select id="getCount" parameterType="map" resultType="Long">
		select count(0) from (select v.visit_id as visit_id, v.customer_id as customer_id, v.visit_stime visit_stime, v.visitor_num as visitor_num, v.assigned_department_id as assigned_department_id, v.recipient, v.operator, v.case_id as case_id, v.is_visited as is_visited, v.comment as comment, v.paper_id paper_id, c.case_title as case_title, cg.name as visit_type, cg.id as visit_type_id, cb.id as business_type_id, cb.name as business_type
		from visit_activities v
		left join cases c on v.case_id= c.case_id
		left join category cg on v.visit_type=cg.id
		left join category cb on v.business_type=cb.id
		<where>
			<if test="businessType != null">
		        and cb.id = #{businessType}
			</if>
			<if test="keyword != null">
				and (c.title like '%${keyword}%')
			</if>
		</where>) t
	</select>

</mapper>