<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eastteam.myprogram.dao.VisitMybatisDao">
	<select id="search" parameterType="map" resultMap="visitDetailMap">
		select v.visit_id as visit_id, v.customer_id as customer_id, v.visit_stime visit_stime, v.visitor_num as visitor_num, v.assigned_department_id as assigned_department_id, v.recipient, v.operator, v.case_id as case_id, v.is_visited as is_visited, v.comment as comment, v.paper_id paper_id, c.case_title as case_title, c.event_time, cg.name as visit_type, cg.id as visit_type_id, cb.id as business_type_id, cb.name as business_type
		from visit_activities v
		left join cases c on v.case_id= c.case_id
		left join category cg on v.visit_type=cg.id
		left join category cb on v.business_type=cb.id
		<where>
			<if test="businessType != null">
		        and cb.id = #{businessType}
			</if>
			<if test="isVisited != null">
		        and v.is_visited like '${isVisited}'
			</if>
			<if test="dateFrom != null">
				and v.visit_stime &gt;= #{dateFrom}
			</if>
			<if test="dateTo != null">
				and v.visit_stime &lt;= dateadd(day,1,#{dateTo})
			</if>			
			<if test="keyword != null">
				and (c.title like '%${keyword}%')
			</if>
			<if test="caseId != null">
		        and v.case_id = #{caseId}
			</if>			
		</where>
		<if test="sort != null">
			order by ${sort} desc
		</if>
		<if test="offset != null">
			limit #{offset}, #{pageSize}
		</if>
	</select>
	
	<resultMap id="visitDetailMap" type="VisitActivity">
		<id property="id" column="visit_id"/>
		<result property="visitTime" column="visit_stime"/>
		<result property="isVisited" column="is_visited"/>
		<result property="visitNum" column="visitor_num"/>
		<association property="visitType" javaType="Category">
			<id property="id" column="visit_type_id" />
			<result property="name" column="visit_type" />
		</association>
		<association property="businessType" javaType="Category">
			<id property="id" column="business_type_id" />
			<result property="name" column="business_type" />
		</association>
		<association property="thisCase" javaType="Case">
			<id property="id" column="case_id" />
			<result property="title" column="case_title" />
			<result property="eventTime" column="event_time"/>
			<result property="guestNum" column="guest_num"/>
			<result property="spaceTip" column="space_tip"/>
		</association>
		<association property="recipient" javaType="User">
			<id property="id" column="recipient" />
		</association>	
		<association property="operator" javaType="User">
			<id property="id" column="operator" />
		</association>			
	</resultMap>
	
	<select id="getCount" parameterType="map" resultType="Long">
		select count(0) from (select v.visit_id as visit_id, v.customer_id as customer_id, v.visit_stime visit_stime, v.visitor_num as visitor_num, v.assigned_department_id as assigned_department_id, v.recipient, v.operator, v.case_id as case_id, v.is_visited as is_visited, v.comment as comment, v.paper_id paper_id, c.case_title as case_title, c.guest_num, cg.name as visit_type, c.space_tip, cg.id as visit_type_id, cb.id as business_type_id, cb.name as business_type
		from visit_activities v
		left join cases c on v.case_id= c.case_id
		left join category cg on v.visit_type=cg.id
		left join category cb on v.business_type=cb.id
		<where>
			<if test="businessType != null">
		        and cb.id = #{businessType}
			</if>
			<if test="isVisited != null">
		        and v.is_visited like '${isVisited}'
			</if>
			<if test="dateFrom != null">
				and v.visit_stime &gt;= #{dateFrom}
			</if>
			<if test="dateTo != null">
				and v.visit_stime &lt;= dateadd(day,1,#{dateTo})
			</if>			
			<if test="keyword != null">
				and (c.title like '%${keyword}%')
			</if>
			<if test="caseId != null">
		        and v.case_id = #{caseId}
			</if>
		</where>) t
	</select>
	
	<insert id="insertCustomer" parameterType="Customer" useGeneratedKeys="true" keyProperty="id">
		insert into customer (customer_name) values (#{customerName});
	</insert>
	
	<insert id="insertCase" parameterType="Case" useGeneratedKeys="true" keyProperty="id">
		insert into cases (business_type, case_title, created_time, event_time, guest_num, space_tip, business_code) 
		values (#{businessType.id}, #{title}, now(), #{eventTime}, #{guestNum}, #{spaceTip}, 'C');
	</insert>
	
	<insert id="insertVisit" parameterType="map" useGeneratedKeys="true" keyProperty="id">
		insert into visit_activities (customer_id, visit_type, visit_stime, business_type, case_id, is_visited, comment) 
		values (#{customerId}, #{visitType}, #{visitTime}, #{businessType}, #{caseId}, #{isVisited}, #{comment});
	</insert>
	
	<select id="selectCustomers" resultType="Customer" >
		select customer_name as customerName, customer_id as id from customer
	</select>
	
	<select id="selectVisit" parameterType="Long" resultMap="visitDetailMap">
		select v.visit_id as visit_id, v.customer_id as customer_id, v.visit_stime visit_stime, v.visitor_num as visitor_num, v.assigned_department_id as assigned_department_id, v.recipient, v.operator, v.case_id as case_id, v.is_visited as is_visited, v.comment as comment, v.paper_id paper_id, c.case_title as case_title, c.event_time, c.guest_num, c.space_tip, cg.name as visit_type, cg.id as visit_type_id, cb.id as business_type_id, cb.name as business_type
		from visit_activities v
		left join cases c on v.case_id= c.case_id
		left join category cg on v.visit_type=cg.id
		left join category cb on v.business_type=cb.id
		where v.visit_id=#{visitId};
	</select>
</mapper>